/.web-server-pid
/app/config/parameters.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules/
/nbproject/private/
/.php_cs.cache
tests/RF/Common/Conf/mail.txt
tests/RF/*.log
/yarn-error.log
