
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/nbproject/
.buildpath
/.project
/.settings/
/.env-docker-compose
/.env-docker-compose-local
/data
/.php_cs.cache
tests/RF/Common/Conf/mail.txt
*.pyc
tests/RF/*.log
*.log
log.html
report.html
output.xml
/pabot_results/
/public/*
!/public/index.php
###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
