parameters:
    env(DATABASE_URL): "mysql://root@127.0.0.1:3306/symfony"
    database_url: "%env(DATABASE_URL)%" 
    env(MAILER_URL): "smtp://user:pass@host:port"
    mailer_url: "%env(MAILER_URL)%" 

    # A secret key that's used to generate certain security-related tokens
    secret: 446cf775596cd793ce8a24adec
    web_host: 'http://127.0.0.1:8000'
    devtest_delivery_addresses: devtest@example.com
