parameters:
    env(DATABASE_URL): "mysql://root@127.0.0.1:3306/symfony"
    database_url: "%env(DATABASE_URL)%" 
    env(MAILER_URL): "smtp://user:pass@host:port"
    mailer_url: "%env(MAILER_URL)%"
    env(LOG_PATH): '%kernel.logs_dir%/%kernel.environment%.log'
    log_path: "%env(LOG_PATH)%"
    env(WEB_HOST): 'http://127.0.0.1:8000'
    web_host: "%env(WEB_HOST)%"

    app.build: branch/commit_id/build_id
    secret: 446cf775596cd793ce8a24adec
    devtest_delivery_addresses: devtest@example.com
