@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";
@import '~lato-font/scss/public-api';
$lato-font-path: '~lato-font/fonts';
@include lato-include-font('medium');
$font-size-base: 15px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px


.navbar {
  background-color: #2c3e50;
}

.btn-warning {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 193, 7);
    border-color: rgb(255, 193, 7);
}

body {
  @include lato-font('medium');
}

.div-margin-top {
  padding: 20px 0px 0px 0px;
}

.table th, td {
   text-align: center;   
}

footer {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  p {
    font-size: $font-size-small;
    margin-bottom: .25em;
  }
}
