{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Dashboard</span></h1>
                <button type="button" class="btn btn-primary">Primary</button>
                <button id="td_b_action_add" type="button" class="btn btn-secondary btn-sm">
                    <i class="fa fa-plus-circle"></i>
                </button>
            </div>

        </div>
    </div>
{% endblock %}
